.msg-card {
    display: flex;
    box-sizing: border-box;
    width: 690px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(4, 59, 85, 0.1);

    .user-avatar {
        width: 108px;
        height: 108px;
        border-radius: 50%;
    }
    .msg-right {
        flex: 1;
        margin-left: 20px;
    }
    .msg-line {
        display: flex;
        justify-content: space-between;
        .user-name {
            font-size: 30px;

        }
        .msg-time, .msg-content {
            font-size: 24px;
            color: #ccc;
        }
        .msg-content {
            width: 480px;
            overflow: hidden;  // 超出不显示
            text-overflow: ellipsis; // 超出省略
            white-space: nowrap; // 单行显示
        }
        .msg-num {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: red;
            font-size: 24px;
            color: #fff;

        }
    }
    
}

