@import '../../styles/mixin';
.container {
  background-color: rgb(242,242,242);
  font-family: 'SimHei';
}

.swiper {
  width: 750px;
  height: 400px;
  image,
  img {
    height: 400px !important;
  }
  .taro-img {
    width: 750px;
  }
}

.searchBar {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  padding-left: 30px;
  align-items: center;
  .taro-img {
    width: 32px;
    height: 42px;
  }
  .at-button {
    width: 564px;
    height: 58px;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.88);
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    .taro-img {
      width: 26px;
      height: 25px;
      margin-right: 20px;
    }
    .at-button__text {
      color: #8e8e93;
      line-height: 58px;
      font-size: 24px;
      align-items: center;
    }
  }
}

.home-list {
  padding: 20px 5px;
}

.at-tab-bar {
  height: 101px;
  padding: 0;
  .at-tab-bar__item {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 97px;
    justify-content: center;
    align-items: center;
    .at-tab-bar__icon {
      width: 48px;
      line-height: 48px;
    }
    .at-tab-bar__title {
      font-size: 12px !important;
    }
  }
}
