.at-nav-bar {
    background-color: #45b5ed;
    .at-nav-bar__title {
        color: white;
    }
}

.order {
    .order-top {
        width: 750px;
        height: 821px;
    }
    .card-wrap {
        display: flex;
        justify-content: space-around;
        background: #f2f2f2;
      }
}
